---
layout: base.njk
---
<a href="/articles/" class="back-link">← Гайды</a>
<article class="article">
  <span class="article__tag">{{ readTime }}</span>
  <h1>{{ title }}</h1>
  <div class="article__body">{{ content | safe }}</div>
</article>
